/* Default */
body {
  font-family: 'Open Sans', Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: none;
   width: 100% !important;
   min-width: 100%;
   -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
   height: 100%;
   margin: 0;
   Margin: 0;
   padding: 0;
   border: none;
   outline: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-family: 'Open Sans', Arial, sans-serif;
}
/* End Default */

.content-wrapper {
  border-collapse:collapse;
  border: none;
  padding: 0;
  margin: 0;
}

a.footer {
  color: #888888 !important;
  text-decoration: none ;
font-weight: 100 !important;
}
a.footer:hover {
  color: #888888 !important;
  text-decoration: underline !important;
font-weight: 100 !important;

}

a {
  color: #7EC4C1;
  text-decoration: none !important;
font-weight: bold;
}
a:hover {
  color: #7EC4C1;
  text-decoration: none !important;
font-weight: bold;
}

/* What it does: Remove spaces around the email design added by some email clients. */
/* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
html, body {
  margin: 0 !important;
  Margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
/* What it does: Stops email clients resizing small text. */
* {
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
/* What it does: Forces Outlook.com to display emails full width. */
.ExternalClass {
width: 100%;
}
/* What is does: Centers email on Android 4.4 */
div[style*="margin: 16px 0"] {
margin:0 !important;
}
/* What it does: Stops Outlook from adding extra spacing to tables. */
table, td {
mso-table-lspace: 0pt !important;
mso-table-rspace: 0pt !important;
}
/* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
table {
border-spacing: 0 !important;
border-collapse: collapse !important;
table-layout: fixed !important;
Margin: 0 auto !important;
}
table table table {
table-layout: auto;
}
/* What it does: Uses a better rendering method when resizing images in IE. */
img {
-ms-interpolation-mode:bicubic;
}
/* What it does: Overrides styles added when Yahoo's auto-senses a link. */
.yshortcuts a {
border-bottom: none !important;
}
/* What it does: Another work-around for iOS meddling in triggered links. */
a[x-apple-data-detectors] {
color:inherit !important;
}

/* Button */
.button-td {
  padding: 12px 18px 12px 18px;
  border-radius: 0;
}

.button,
.button span {
  font-size: 16px;
  font-family: 'Open Sans', Arial, san-serif;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none; 
  display: inline-block;
}

.button-td:hover,
.button-td:focus {
  background: #448E87;
}

/* Other */

.samsung-address {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.no-link-style,
.no-link-style > span {
  font-weight: normal;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #595655;
  text-decoration: none;
}